body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(110deg, #0d007a, #050df1);
    font-family: Arial, sans-serif;
}

.titulo {
    font-size: 32px;
    color: black;
    margin-bottom: 20px;
}

.calculadora {
    width: 320px;
    background: #1c1c1c;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
}

.visor {
     height: 90px;
    background: #000;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    color : white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.linha-especial {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px; 
}

.grid-normal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    height: 65px;
    border: none;
    border-radius: 18px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

button:active {
    transform: scale(0.95);
}


.numero {
    background: #2a2a2a;
    color: white;
}

.numero:hover {
    background: #3a3a3a;
}

/* OPERADORES */
.operador {
    background: #ff9500;
    color: white;
}

.operador:hover {
    background: #e08900;
}


.igual {
    background: green;
    color: white;
}

.igual:hover {
    background: #00b300;
}

/* APAGAR */
.apagar {
    background: red;
    color: white;
}

.apagar:hover {
    background: #f90202;
}

.historico {
    font-size: 16px;
    color: #888; /* mais apagado */
    text-align: right;
    min-height: 20px;
    overflow-x: auto;
}

.resultado {
    font-size: 36px;
    color: white;
    text-align: right;
    font-weight: bold;
    min-height: 40px;
    overflow-x: auto;
}

button.ativo {
    transform: scale(0.9);
    filter: brightness(1.2);
}

.resultado.pequeno {
    font-size: 20px;
}

